@media all and (max-width: 769px){
    .vignette{
        width: 89%;
    }

    figure{
        width: 76%;
    }

    figure img{
        height: 175px;
    }

    figcaption{
        font-size: 1.1em;
    }
}
