@media all and (max-width: 720px){

    .liste li{
        display: block;
        font-size: 1.1em;
    }

    section img{
        height: 120px;
        width: 80%;
    }

    section p{
        margin-left: 0;
    }

    .cadet{
        width: 80%;
    }
}
